.panel-primary{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 30rem;
}
.boxProduct{
  margin-left: 60px;
  margin-right: 100px;
  margin-top: 30px;
}
.row{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.input-group{
  margin-left: 70px;
}
