<div class="col-md4  ">
  <h2>Login</h2>
  <div class="alert alert-info">
    Username: admin<br/>
    Password: admin
  </div>
     <form name="form" #f="ngForm" novalidate>
       <div class="form-group" [ngClass] = "{'has-error':f.submitted && !username.valid}">
         <label for="username">Username</label>
         <input  id="username" type="text" class="form-control" name="username" [(ngModel)]="Lusername" #username="ngModel" required/>
         <span *ngIf="f.submitted && !username.value" class="help-block">Username is required</span>
       </div>
       <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
         <label for="password">Password&nbsp; </label>
         <input id="password" type="password" class="form-control" name="password" [(ngModel)]="Lpassword" #password="ngModel" required/>
         <span *ngIf="f.submitted && !password.valid" class="help-block"> Password is required</span>
       </div>
       <div class="form-group">
         <button class="btn btn-primary" (click)="onLogin()">Login</button>

       </div>
      </form>
</div>

