<!-- <ul class="nav nav-pills nav-stacked">
  <li role="presentation" *ngIf="hasRole('ADMIN') || hasRole('USER')" routerLinkActive="active"><a routerLink="/list">List</a></li>
  <li role="presentation" *ngIf="hasRole('ADMIN')" routerLinkActive="active"><a routerLink="/add">Add</a></li>
  <li role="presentation" *ngIf="hasRole('ADMIN') || hasRole('USER')" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" (click)="onViewClick()">
      View <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let student of students">
        <a  (click)="showDetail(student)">
          {{student.name}}
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" *ngIf="hasRole('ADMIN') || hasRole('USER')" routerLinkActive="active"><a routerLink="/courses">Course list</a></li>
  <li role="presentation" *ngIf="hasRole('ADMIN')" routerLinkActive="active"><a routerLink="/add-course">Add Course</a></li>

</ul> -->


<nav *ngIf="hasRole('start')" class="navbar fixed-top navbar-toggleable-md navbar-light bg-light">

  <a class="navbar-brand" href="#">Crave Cake</a>

    <ul class="nav navbar-nav mr-auto mt-lg-10">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">LogiN</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/product">ProducT</a>
      </li>


    </ul>
    <ul class="nav navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">CarT</a>
      </li>
    </ul>

</nav>

<nav *ngIf=" hasRole('customer')" class="navbar fixed-top navbar-toggleable-md navbar-light bg-light">

  <a class="navbar-brand" href="#">Crave Cake</a>

  <ul class="nav navbar-nav mr-auto mt-lg-10">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" (click)="onLogout()">Logout</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/product">ProducT</a>
    </li>


  </ul>
  <ul class="nav navbar-nav ml-auto" >
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">CarT</a>
    </li>
  </ul>

</nav>

<nav *ngIf=" hasRole('admin')" class="navbar fixed-top navbar-toggleable-md navbar-light bg-light">

  <a class="navbar-brand" href="#">Crave Cake</a>

  <ul class="nav navbar-nav mr-auto mt-lg-10">
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">SearcH</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/shopkeeper">ShopkeepeR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer">CustomeR</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" >
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">CarT</a>
    </li>
  </ul>

</nav>

<nav *ngIf=" hasRole('shopkeeper')" class="navbar fixed-top navbar-toggleable-md navbar-light bg-light">

  <a class="navbar-brand" href="#">Crave Cake</a>

  <ul class="nav navbar-nav mr-auto mt-lg-10">
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">SearcH</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/ManageProduct">ProduecT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transaction">TransactioN</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" >
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">CarT</a>
    </li>
  </ul>

</nav>
