.navbar-brand{

  font-size: 40px !important;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 1px 2px #444;
}
.navbar .navbar-nav .mr-auto{
  float: left;
  margin: 5px;
  padding-right: 300px;
  font-size: 30px !important;
  font-variant: small-caps;
}




