h1{
  font-size: 36px !important;
  font-variant: small-caps;
  text-shadow: 1px 1px #444;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
}
h3{
  font-size: 24px !important;
  font-variant: small-caps;
  padding-left: 100px;
}
legend{
  font-size: 24px !important;
  font-variant: small-caps;
}
.form-group{
  margin-left: 100px;
  margin-right: 300px;
  margin-top: 30px;
  font-size: 20px !important;
  font-variant: small-caps;
}
