h1{
  font-size: 30px !important;
  font-variant: small-caps;
  text-shadow: 1px 1px #444;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
}
.card{
  font-size: 16px !important;
  margin-top: 10px;
  height: 200px;
}
.card-header{
  margin-top: 10px;
}
#accordion{

  padding-right: 140px;
  padding-left: 100px;
  padding-top: 10px;
}
.checkoutButton{
  margin-top: 20px;
  padding-right: 140px;
  padding-top: 20px;
  font-variant: small-caps;
}
